# Virtual Environments
.venv/
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# ROS 2 build folders (if you build the package later)
build/
install/
log/

# IDE & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Data / hasil simulasi
swarm_ws/src/swarm_high_level/**/*.csv
swarm_ws/src/swarm_high_level/**/*.png
swarm_ws/src/swarm_high_level/**/*.log

swarm_ws/src/swarm_low_level/**/*.csv
swarm_ws/src/swarm_low_level/**/*.png
swarm_ws/src/swarm_low_level/**/*.log

swarm_ws/src/swarm_mid_level/**/*.csv
swarm_ws/src/swarm_mid_level/**/*.png
swarm_ws/src/swarm_mid_level/**/*.log

swarm_ws/src/swarm_sim/**/*.csv
swarm_ws/src/swarm_sim/**/*.png
swarm_ws/src/swarm_sim/**/*.log

# Folder Debug & MatlabtoPython
Debug/
MatlabtoPython/
docs/References-paper/

# LaTeX build artifacts
*.aux
*.bcf
*.log
*.toc
*.out
*.bbl
*.blg
*.fls
*.fdb_latexmk
*.synctex.gz
