# Virtual Environments
.venv/
venv/
env/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class

# ROS 2 build folders (if you build the package later)
build/
install/
log/

# IDE & OS Files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Temporary images or debug artifacts (optional, keep commented if you want to push the graphics)
# *.png
# Hasil log simulasi (tidak perlu di-commit)
swarm_ws/src/swarm_sim/results/multi_agent/pid_lqr/*.csv
swarm_ws/src/swarm_sim/results/multi_agent/pid_lqr/*.png
swarm_ws/src/swarm_sim/results/multi_agent/pid_lqr/*.log
swarm_ws/src/swarm_sim/results/multi_agent/pid_hinf/*.csv
swarm_ws/src/swarm_sim/results/multi_agent/pid_hinf/*.png
swarm_ws/src/swarm_sim/results/multi_agent/pid_hinf/*.log
swarm_ws/src/swarm_sim/results/single_agent/*.csv
swarm_ws/src/swarm_sim/results/single_agent/*.png
swarm_ws/src/swarm_sim/results/single_agent/*.log
swarm_ws/src/swarm_sim/results/single_agent/pid_lqr/*.csv
swarm_ws/src/swarm_sim/results/single_agent/pid_lqr/*.png
swarm_ws/src/swarm_sim/results/single_agent/pid_lqr/*.log
