<?xml version="1.0"?>
<model>
  <name>3DR Iris (Base Generic)</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Izma Herdian</name>
    <email>user@todo.todo</email>
  </author>
  <description>
    A generic quadrotor 3D model with 1.0 kg mass and parameters matching the Iris configuration, designed for H-infinity and LQR simulation in Gazebo.
  </description>
</model>
